<div id="cachesizes" class="report-widget">
    <h3>
        <?= e(trans('lovata.facebookshopaholic::lang.widget.export_catalog_to_xml_for_facebook')) ?>
    </h3>
    <button
            type="button"
            data-request="onGenerateXMLFileFacebook"
            class="btn btn-primary icon-upload"
            data-request-update="download: '.download-btn-facebook'"
            data-stripe-load-indicator
            data-request-confirm="<?= e(trans('lovata.facebookshopaholic::lang.message.update_catalog_to_xml_confirm')) ?>"
    >
        <?= e(trans('lovata.facebookshopaholic::lang.button.export_catalog_to_xml')) ?>
    </button>
    <div class="download-btn-facebook">
        <?= $this->makePartial('download') ?>
    </div>
</div>
